fastapi
uvicorn
yfinance
PyPortfolioOpt
earningscall
crewai
pandas
numpy
nltk
scikit-learn
pydantic
requests
financedatabase
python-dotenv
langchain-openai
litellm
google-genai
langchain-community
duckduckgo-search
groq
